{% extends '@EasyAdmin/default/edit.html.twig' %}

<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad aliquid at deserunt earum facere fugit iste itaque iusto libero magnam molestias, nesciunt nisi nulla quo soluta, totam velit voluptas.</div>