{% extends 'base.html.twig' %}
{% block title %}Ajouter un tee{% endblock %}

{% block body %}
    <h3>Ajouter un tee Intern</h3>

    <div class="well">
        {{ form(form) }}
    </div>
{% endblock %}
